{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": [
    "^node:",
    "<THIRD_PARTY_MODULES>",
    "^lit$",
    "^lit/decorators\\.js$",
    "^custom-card-helpers$",
    "^@/types/(.*)",
    "^@/utils/(.*)",
    "^@/const(.*)",
    "^@/(.*)",
    "^@tests/(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ["*.ts"],
      "options": { "parser": "typescript" }
    }
  ]
}
