# IDE files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore home assistant
.hass

# Ignore artifacts
dist
build/
out/

# Ignore node modules
node_modules

# Ignore files
README.md
LICENSE

# Configs
*.yml
*.yaml
*.md
*.lock
*.json
.npmrc
.nvmrc
.node-version
.editorconfig
.gitignore
.dockerignore
.husky
.github
.gitlab-ci.yml
.prettierignore
.prettierrc
